.start {
    margin: 3rem auto;
    width: 95%;
    max-width: 25rem;
    border-radius: 11px;
    background-color: rgb(44, 44, 44);
    box-shadow: 0 1px 4px rgb(0, 0, 0.2);
    padding-top: 1.5rem;
    padding-right: 3rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    text-align: center;
}

.start h1 {
    background-color: rgb(44, 44, 44);
    text-align: center;
    color: white;
    margin-bottom: 3rem;
    font-size: 18px;
}

.start label {
    display: block;
    color: white;
    margin-bottom: 0.5rem;
    text-align: left;
}

.start input {
    font: inherit;
    background-color: transparent;
    color: white;
    border-radius: 4px;
    border: 1.5px solid white;
    width: 100%;
    text-align: left;
    padding: 0.3rem;
    margin-bottom: 2rem;
}

.start input:focus {
    outline: none !important;
    border: 1.5px solid #ca0098;
}

.actionButton {
    cursor: pointer;
    font: inherit;
    color: white;
    background-color: transparent;
    border: 2px solid #ca0098;
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
}

.actionButton:hover {
    border-color: rgb(146, 44, 255);
}